
.footer-container {
  background-color: #2c2c2c;
  color: #ffffff;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  margin-top: 1px;
}

.main-footer {
  max-width: 1200px;
  margin: 0 auto;
  
}

.copy{
align-items: center;
display: flex;
    justify-content: center;
}

.footer-class {
  display: flex;
  font-size: 40px;
  /* font-weight: bold; */
  align-items: center;
  color: bisque;
  font-family: 'Times New Roman', Times, serif;

  gap: 10px;
  /* font-size: 20px; */
  font-weight: bold;
  margin-bottom: 15px;

}

.hotel-icon {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}



.row2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.col {
  flex: 1;
  min-width: 250px;
}

.col2 {
  flex: 1;
  min-width: 150px;
}

.hotel-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.footer-links ul,
.contact-info ul {
  list-style: none;
  padding: 0;
}

.footer-links li,
.contact-info li {
  margin: 8px 0;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

  
hr{
  margin-top: -15px;
  margin-left: -2px;
  width: 110px;
}
.location-para{
  padding-left:23px ;
}

.location-span{
  padding-left: 8px;
}
.phone-span{
padding-left: 8px;

}
.email-span{
  
padding-left: 8px;
}
.social-icons{
  color: white;
}
